html, body {
	height: 100%;
	margin: 0;
}

body {

	background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
				url("../img/hytale.png") no-repeat center center fixed;
	background-size: cover;
	font-family: Helvetica;
	text-align: center;
	color: white;
}  	
tbody:nth-child(odd)  { 
	background: rgba(76, 175, 80, 0.1)
}
tbody:nth-child(even) { 
	background: rgba(76, 175, 80, 0.1)
}
th { 
	background: rgba(76, 175, 80, 0.1)
	padding:0.7em; 
}
td {
	padding:0.5em;
}
